{{ attach_library('simple_moderation/simple_moderation') }}
{{ form }}
<div class="assignment-information-wrapper">
  <div class="heading-container">
    <div class="state-heading">Moderation states</div>
    <div class="role-heading">Roles responsible for these states</div>
  </div>
  {{ assignment_info }}
</div>
