<div class="assignment-information-container">
  <div class="state-container">{{ state|replace({'_': ' '})|capitalize }}</div>
  <div class="role-container">{{ role|replace({'_': ' '})|capitalize }}</div>
</div>
